<!-- <section style="background: #f1f1f1">
  <div class="container py-4 py-md-5">
    <div class="row row-cols-2 row-cols-md-4 g-4 text-center align-items-stretch">
      @for (let it of items; track it.titulo) {
        <div class="col d-flex">
          <div class="d-flex flex-column align-items-center justify-content-start text-center h-100 w-100" style="row-gap: .5rem;">
            <img loading="lazy" [ngSrc]="it.img" width="40" height="40" alt="{{ it.alt }}" class="mb-1 mb-md-2" />
            <h3 class="mb-0" style="color: #000000; font-family: cursive; font-weight: 900; text-transform: uppercase; letter-spacing: .3px; font-size: 0.95rem;">
              {{ it.titulo }}
            </h3>
            <p class="mb-0 px-3" style="color: #474747; font-size: .825rem; font-weight: 300; line-height: 1.35;">
              {{ it.texto }}
            </p>
          </div>
        </div>
      }
    </div>
  </div>
</section> -->
